.slide-panels__panels {
  position: absolute;
  height: 100%;
  width: 100%;
}

.slide-panels__panel {
  height: 100%;
  width: 100%;
  position: absolute;

  &_visible {
    visibility: visible;
  }

  &_hidden {
    visibility: hidden;
  }

}
