.slide-panels__stage {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1000;

  &_visible {
    visibility: visible;
    transition: visibility;
  }

  &_hidden {
    visibility: hidden;
    transition: visibility 0s linear .3s;
  }

}
