@keyframes slide-panels__close-label_animation-to {
  from { opacity: 1; }
  to { opacity: 0.6; }
}

@keyframes slide-panels__close-label_animation-back {
  from { opacity: 0.6; }
  to { opacity: 1; }
}

&__close-label {

  i {
    animation-name: slide-panels__close-label_animation-to;
    animation-duration: 300ms;
    animation-fill-mode: forwards;

    &:hover {
      animation-name: slide-panels__close-label_animation-back;
    }

  }

}
