$distance: 300px;

@mixin common {
  visibility: visible;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
}

@keyframes slide-panels__panel_slide-inside {
  0% { top: $distance; opacity: 0; }
  100% { top: 0; opacity: 1; }
}

@keyframes slide-panels__panel_slide-outside {
  0% { top: 0; opacity: 1; }
  100% { top: -$distance; opacity: 0; }
}

&__panel {

  &_slide-inside {
    @include common;
    animation-name: slide-panels__panel_slide-inside;
  }

  &_slide-outside {
    @include common;
    animation-name: slide-panels__panel_slide-outside;
  }

}
