.slide-panels__panel {

  .panel {

    &__header {
      background: #f1f1f1;
      border-bottom: 1px solid #eaeaea;
    }

    &__content {
      flex-grow: 1;
    }

    &__footer {
      background: #f1f1f1;
      border-top: 1px solid #eaeaea;
    }

  }

}
