$panel-width: 320px;

@mixin common {
  visibility: visible;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
}

@keyframes slide-panels__panel-left_slide-inside {
  from { left: -$panel-width; }
  to { left: 0; }
}

@keyframes slide-panels__panel-left_slide-outside {
  from { left: 0; }
  to { left: -$panel-width; }
}

@keyframes slide-panels__panel-right_slide-inside {
  from { right: -$panel-width; }
  to { right: 0; }
}

@keyframes slide-panels__panel-right_slide-outside {
  from { right: 0; }
  to { right: -$panel-width; }
}

@media screen and (max-width: $panel-width) {

  @keyframes slide-panels__panel-left_slide-inside {
    from { left: -100vw; }
    to { left: 0; }
  }

  @keyframes slide-panels__panel-left_slide-outside {
    from { left: 0; }
    to { left: -100vw; }
  }

  @keyframes slide-panels__panel-right_slide-inside {
    from { right: -100vw; }
    to { right: 0; }
  }

  @keyframes slide-panels__panel-right_slide-outside {
    from { right: 0; }
    to { right: -100vw; }
  }

}

&__panel {

  &-left {

    &_slide-inside {
      @include common;
      animation-name: slide-panels__panel-left_slide-inside;
    }

    &_slide-outside {
      @include common;
      animation-name: slide-panels__panel-left_slide-outside;
    }

  }

  &-right {

    &_slide-inside {
      @include common;
      animation-name: slide-panels__panel-right_slide-inside;
    }

    &_slide-outside {
      @include common;
      animation-name: slide-panels__panel-right_slide-outside;
    }

  }

}
