$side-width: 320px;

&__side {
  position: absolute;
  height: 100%;
  width: $side-width;
  background: #ffffff;

  &_visible {
    visibility: visible;
  }

  &_hidden {
    visibility: hidden;
  }

  &-left {

    &_inside {
      left: 0;
    }

    &_outside {
      left: -$side-width;
    }

  }

  &-right {

    &_inside {
      right: 0;
    }

    &_outside {
      right: -$side-width;
    }

  }

}
