$side-width: 320px;

@mixin common {
  animation-duration: 300ms;
  animation-fill-mode: forwards;
}

@keyframes slide-panels__side-left_slide-inside {
  from { left: -$side-width; }
  to { left: 0; }
}

@keyframes slide-panels__side-left_slide-outside {
  from { left: 0; }
  to { left: -$side-width; }
}

@keyframes slide-panels__side-right_slide-inside {
  from { right: -$side-width; }
  to { right: 0; }
}

@keyframes slide-panels__side-right_slide-outside {
  from { right: 0; }
  to { right: -$side-width; }
}

&__side {

  &-left {

    &_slide-inside {
      @include common;
      animation-name: slide-panels__side-left_slide-inside;
    }

    &_slide-outside {
      @include common;
      animation-name: slide-panels__side-left_slide-outside;
    }

  }

  &-right {

    &_slide-inside {
      @include common;
      animation-name: slide-panels__side-right_slide-inside;
    }

    &_slide-outside {
      @include common;
      animation-name: slide-panels__side-right_slide-outside;
    }

  }

}
