&__back {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  cursor: pointer;

  &__icon {
    color: #adadad;
    font-size: 14px;
    margin-right: 3px;
  }

  &__text {
    color: #6d6d6d;
    font-size: 14px;
  }

  &:hover {

    &__back__icon {
      color: #676767;
    }

    &__back__text {
      color: #212121;
    }

  }

}
